/* island page 공통 */

main {
    background-color: RGB(234,238,242);
    padding: 15px;
}

#main-wrapper {
    
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    box-shadow: 5px 5px 2px #333;
}


h2 {
    
    font-size: 30px;
    line-height: 50px;
    background-color: RGB(20, 76, 133);

}

/* island page 공통 여기까지 */

h3 {
    
    text-align: left;
    font-size: 20px;
}