/* island page 공통 */

main {
    background-color: RGB(234,238,242);
    padding: 15px;
}

#main-wrapper {
    
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    box-shadow: 5px 5px 2px #333;
}


h2 {
    
    font-size: 30px;
    line-height: 50px;
    background-color: RGB(20, 76, 133);

}

/* island page 공통 여기까지 */

h3 {
    
    text-align: left;
    font-size: 20px;
}

#phone {
    
    color: white;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: RGB(147, 170, 206);
    margin-top: 20px;
    text-align: center;
    line-height: 22px;

}

#phone-inner {
    padding: 40px;
    
}
#phone img {
    
    display: block;
    margin: 0 auto;
    width: 50px;
    color: white;
    margin-bottom :10px;
}

#kakao {
    
    color: white;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: RGB(176, 204, 218);
    margin-top: 20px;
    text-align: center;
    line-height: 22px;

    
}

#kakao-inner {
    padding: 40px;
}

#kakao img {
    
    display: block;
    margin: 0 auto;
    width: 50px;
    color: white;
    margin-bottom: 10px;
}

@media screen and (min-width: 500px) {
    
    #phone {
        
        float: left;
    }
    
    #kakao {
        
        float: left;
    }
    
    
    #circle-box {
        
        clear: both;
    }
    
    #main-wrapper {
        
        clear: both;
    }
}