/* island page 공통 */

main {
    background-color: RGB(234, 238, 242);
    padding: 15px;
}

#main-wrapper {

    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    box-shadow: 5px 5px 2px #333;
}


h2 {

    font-size: 30px;
    line-height: 50px;
    background-color: RGB(20, 76, 133);

}


/* island page 공통 여기까지 */

h3 {

    font-size: 20px;
    text-align: left;
    line-height: 40px;

}

article {

    margin-bottom: 30px;
}

.information-inner {

    overflow: hidden;
    width: 100%;
    background-color: RGB(249, 247, 238);
    padding-top: 20px;
    padding-bottom: 20px;
}

#information-small {

    display: inline-block;
    margin-top: 20px;
    font-size: 13px;
    color: #555;
}


/* 이사 진행과정 */


.set-wrapper {
    float: left;
    width: 25%;
}

.step {

    width: 56px;
    height: 56px;
    border-radius: 28px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-left: 10px;
    float: left;
    color: white;
}

.pink {

    background-color: RGB(208, 71, 104);
}

.orange {

    background-color: darkorange;
}

.green {

    background-color: cadetblue;
}

.step span:first-child {

    display: inline-block;
    margin-top: 13px;
    color: white;
}

.step span:last-child {

    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    color: white;
}



.set-wrapper img {
    float: right;
    height: 20px;
    margin-top: 18px;
}

.set-wrapper > span {
    display: block;
    clear: both;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 25px;
    color: #555;
    font-size: 20px;
    font-weight: bold;

}

.set-wrapper div:last-child {
    padding: 5px;
}

.set-wrapper div {

    clear: both;
}

.set-wrapper p {
    
    line-height: 20px;
}

@media screen and (max-width: 400px) {

    .step {

        width: 44px;
        height: 44px;
        border-radius: 22px;
    }

    .step span:first-child {

        margin-top: 10px;
        font-size: 13px;
    }

    .step span:last-child {

        font-size: 15px;
        font-weight: bold;

    }

    .set-wrapper img {
        float: right;
        height: 15px;
        margin-top: 18px;
    }
    .set-wrapper > span {
        
        font-size: 15px;
    }
}

@media screen and (min-width: 800px) {

    .step {

        margin-left: 65px;
    }

}
